@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Noto Sans JP";
}

@media screen and (min-width: 640px) {
  body {
    background-image: url(Image/BackGround-Pattern.svg);
    background-repeat: repeat;
    height: 100vh;
  }
}

a:hover {
  opacity: 1;
}

@media screen and (min-width: 640px) {
  a:hover {
    opacity: 0.7;
  }
}
